certs/*
!certs/.keep
config/*
!config/.keep
host_vars/*
!host_vars/.keep
hosts.yml
group_vars/*
!group_vars/.keep

__pycache__
.DS_Store
.vault-pass
.pyc
.ansible
.devcontainer/.bash_history
.certs.bak/
