---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: wildcard-k3s
  namespace: {{ cert.namespace.name | default('traefik') | to_json }}
spec:
  secretName: wildcard-{{ cert.name }}-tls
  commonName: {{ cert.commonName | to_json }}
  dnsNames: {{ cert.dnsNames | default([]) | to_json }}
  issuerRef:
    name: {{ cert.issuer | to_json }}
    kind: ClusterIssuer
  duration: {{ cert.duration | default('2160h') | to_json }}
  renewBefore: {{ cert.renewBefore | default('168h') | to_json }}
